<section class="admin-dashboard">

  <header class="page-header">
  <h1>Admin Dashboard</h1>
  </header>

  <h2>There are a total of <%= @product_count.inspect %> products</h2>
  <div class="alert-link">
    <%= link_to "Back to products", admin_products_path %>
  </div>
  <h2>There are a total of <%= @category_count.inspect %> categories</h2>

</section>
